body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  margin: 0%;
  padding: 0%;
  border: none;
}
.header-item {
  padding-left: 17vw;
}
.icon {
  font-size: 20px;
  margin-top: 0%;
}

.logo {
  width: 5vw !important;
}
.searchbar {
  margin-top: 2vh;
}

.flag {
  width: 4vw !important;
  height: 5vh !important;
  margin-bottom: 2vh;
}

.stats {
  display: inline-grid;
  background-color: #111d2c;
  color: #fff;
  border-radius: 1rem;
  border: 1px solid gray;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.stat {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stat-title {
  grid-column-start: 1;
  white-space: nowrap;
  color: rgb(197, 194, 194);
}

.stat-value {
  grid-column-start: 1;
  white-space: nowrap;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.stat-desc {
  grid-column-start: 1;
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(197, 194, 194);
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  margin: 2vw !important;
}

.graph {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  align-items: start;
  margin-left: 5vh;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 35px !important;
  }
  .flag {
    margin-left: 2vw;
    padding-left: 2vw;
    margin-right: 0%;
    width: 20vw !important;
  }
  .header {
    height: 20% !important;
    margin-left: 15vw !important;
  }
  .icon {
    margin: 0%;
    padding-right: 2vw;
    font-size: 20px;
  }
  .searchbar {
    margin-bottom: 0%;
  }
  .header-content {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 2vh;
    flex-direction: column;
  }
  .boxes {
    flex-direction: column;
  }
  .graph {
    margin-left: 15vw;
  }
  .graph .image {
    height: 25vh;
  }

  .logo {
    width: 20vw !important;
  }
}
